<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="x.mobileapplication">

    <application>
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dog3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Dog3"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".List"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddHobby"
            android:label="@string/title_activity_add_hobby"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditHobby"
            android:label="@string/title_activity_edit_hobby"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>